<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         testdox="true">
    <testsuites>
        <testsuite name="NeoORM Tests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
    <php>
        <env name="DRIVER" value="mysql"/>
        <env name="DBHOST" value="mysql"/>
        <env name="DBPORT" value="3306"/>
        <env name="DBNAME" value="test_neoorm"/>
        <env name="DBUSER" value="root"/>
        <env name="DBPASSWORD" value="root"/>
        <env name="DBCHARSET" value="utf8mb4"/>
        <env name="PATH_MODEL" value="./tests/app/models"/>
        <env name="MODEL_NAMESPACE" value="Tests\App\Models"/>
    </php>
</phpunit>